go 1.24.6

use (
	./modules/aegiscli
	./modules/chariot-aegis-capabilities/aegis-registry
	./modules/chariot/acceptance
	./modules/chariot/backend
	./modules/fingerprintx
	./modules/janus
	./modules/janus-framework
	./modules/nebula
	./modules/tabularium
	modules/chariot-devops/chariot-utils/user-purge
)
